@media(max-width: 755px) {
    .block__home__nav .block__home__menu ul {
        display: flex;
        flex-direction: column;
    }
    .block__home__nav .block__home__menu li {
        padding-top: 20px;
    }
    .block__home__menu {
        display: block;
        position: absolute;
        position: fixed;
        height: 100%;
        right: -500px;
        top: 0;
        transition: 1s;
    }
    .block__home__nav .block__home__menu ul {
        padding-top: 0;
    }
    .block__home__menu__btn {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
    }
}