@import "vars";
@import "libs";
@import "fonts";
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
}
.block__home {
    background: url(../images/блок1/samantha-gades-BlIhVfXbi9s-unsplash1.webp)50% no-repeat;
    min-height: 960px;
    padding: 0 10px;
}
.block__home__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    .block__home__nav__img {
        img {
            padding-top: 50px;
        }
    }
    .block__home__menu {
        ul {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
        }
        li {
            list-style: none;
        }
        li:nth-child(-n+3) {
            padding-right: 40px;
        }
        a {
            text-decoration: none;
            font-family: $Balthazar;
            color: $dark;
            font-size: 24px;
        }
        a:hover {
            color: $cream;
            transition: 0.3s;
        }
    }
}
.block__home__text {
    padding-top: 200px;
    h2 {
        font-family: $Balthazar;
        font-size: 36px;
        color: $dark;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
    }
    p {
        font-family: $Balthazar;
        font-size: 24px;
        color: $dark;
        margin: 0;
        padding: 0;
    }
}
.block__home__menu__btn {
    display: none;
    z-index: 2;
    width: 45px;
    height: 50px;
    outline: none;
    background: $gray;
    border: none;
    border-radius: 8px;
    color: $dark;
    }
.block__home__menu__btn:active {
    background: $darkGray;
    transition: 0.5s;
}
.display__block__nav {
    display: block;
    background: $easyBanana;
    z-index: 1;
    right: 0 !important;
}
// .block__home__menu__right {
    
// }
.burger {
    display: flex;
    flex-direction: column;
    position: relative;
}
.burger__block1 {
    width: 30px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: -10px;
    transition: 0.5s;
}
.burger__block2 {
    width: 20px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
}
.burger__block3 {
    width: 30px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 10px;
    transition: 0.5s;
}
.burger__block1__active {
    width: 15px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: -7px;
    transform: rotate(45deg);
    transition: 0.5s;
}
.burger__block2__active {
    width: 30px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
}
.burger__block3__active {
    width: 15px;
    height: 3px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 6px;
    transform: rotate(-45deg);
    transition: 0.5s;
}
// service
.services__about__block {
    background: $easyСream;
    padding-bottom: 80px;
    h2 {
        padding: 0;
        margin: 0;
        font-size: 48px;
        color: $dark;
        font-weight: 400;
        font-family: $Balthazar;
        text-transform: uppercase;
        text-align: center;
        padding-top: 100px;
        position: relative;
    }
    .text__border {
        width: 186px;
        height: 5px;
        background: $dark;
        margin: 0 auto;
        margin-bottom: 63px;
        border-radius: 5px;
    }
}
.service__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service__block__content {
    max-width: 720px;
    width: 100%;
    background: $gray;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    margin: 10px 10px;
    .service__block__content__img {
        margin-top: 30px;
        width: 200px;
        height: 200px;
        background: $easyBanana;
        border: 5px solid $dark;
        border-radius: 50%;
        margin-right: 65px;
        margin-bottom: 42px;
        text-align: center;
        svg {
            margin-top: 34px;
            animation-name: circle;
            animation-duration: 7s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
    .service__block__content__text {
        max-width: 450px;
        width: 100%;
        h3 {
            margin: 0;
            padding: 0;
            margin-top: 50px;
            margin-bottom: 40px;
            font-family: $Balthazar;
            font-size: 36px;
            color: $dark;
            font-weight: 400;
        }
        p {
            margin: 0;
            padding: 0;
            font-family: $Balthazar;
            font-weight: 400;
            font-size: 24px;
            color: $dark;
            max-width: 450px;
            width: 100%;
        }
    }
}
// .service__block__content:hover {
//     .service__block__content__img {
//         border: 5px solid $darkGray;
//         svg {
//             transform: rotateY(360deg);
//         }
//     }
// }
@keyframes circle {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@import "media";


// $Balthazar: 'Balthazar', serif;
// $dark: #000000;
// $cream: #EEE5E5;
// $easyСream: #FBFBFA;
// $gray: #F1F1EE;
// $easyBanana: #FFFFFC;
// $darkGray: #9F9F9F;